.layout-menu
    border none
    height calc(100% - 50px)
.layout-aside
    border-right: 1px solid #dcdfe6

.aside-toggle
    position absolute
    width: 16px;
    height: 50px
    top: 200px;
    left: 0px;
    background: #dcdfe6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 9

.aside-toggle:before,.aside-toggle:after
    display: block
    content: ""
    position: absolute
    left: 0
    width: 0
    height: 0
    border-width: 13px 0 13px 10px
    border-style: solid
    border-color: transparent transparent transparent #dcdfe6

.aside-toggle:before
    top: -11px
.aside-toggle:after
    bottom: -11px

.aside-toggle>i
    font-size 16px
    line-height 50px
    &:hover
       color: #409EFF;
.layout-main-container
    height 100vh
.el-menu-vertical-demo:not(.el-menu--collapse)
    width: 100%;
    min-height: 400px;
.aside-logo
    height 50px
    padding-top 10px
    box-sizing border-box
    text-align center
    border-bottom  1px solid #dcdfe6
.aside-logo img
    width  40px
.right-main-container
    background-color rgb(240,243,247)
.layout-header
    height 60px
    text-align center
    background #fff
    border-bottom  1px solid #dcdfe6
    position relative
.layout-footer
    height 40px
    text-align center
    line-height 40px
    font-size 13px
.layout-header-content
    display flex
.header-content-left,.header-content-right
    text-align right
.header-content-middle
    flex 1
    line-height 50px
    color #909399
    text-align left
.header-icons
    width 40px
    height 40px
    margin-top 5px
    padding 10px
    box-sizing border-box
    display inline-block
    line-height 24px
    cursor pointer
    margin-right 20px
    &:hover
        color: #409EFF;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
.header-icons:last-child
    margin-right: 0px
.material-icons
    color #606266
    font-size 20px
.header-account
    display inline-block
    vertical-align middle
.accountDropmenu
    vertical-align top
    margin-right: 15px
.accountName
    display inline-block
    vertical-align middle
    cursor pointer
    padding 5px
    box-sizing border-box
    margin-top 5px
    height 40px
    line-height 30px
    color #409EFF
    &:hover
        color: #409EFF;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
.header-avator
    vertical-align: top
    border 2px solid #dcdfe6
    margin-top 8px
    margin-right 10px
.layout-main
    padding-top 0
     overflow: hidden
.layout-main-iframe
    display: flex
    flex-direction: column
    overflow: hidden
.layout-iframe-wrap
    display: flex
    flex: 1
.layout-iframe
    flex: 1
.menu-icons
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle
    color: #909399
.layout-aside >>> .el-scrollbar__wrap
  overflow-x: hidden
.layout-aside >>> .el-scrollbar__view
    padding-bottom: 20px