#app
//   font-family 'Avenir', Helvetica, Arial, sans-serif
//   -webkit-font-smoothing antialiased
//   -moz-osx-font-smoothing grayscale
//   text-align center
//   color #2c3e50

// paper相关
.royal-paper
    -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
    transition: all .45s cubic-bezier(.23,1,.32,1);
    color: rgba(0,0,0,.87);
    background-color: #fff;
.royal-paper-1
    box-shadow: 0 2px 1px -1px rgba(0,0,30,.2), 0 1px 1px 0 rgba(0,0,30,.14), 0 1px 3px 0 rgba(0,0,30,.12);
.royal-paper-2
    box-shadow: 0 3px 1px -2px rgba(0,0,30,.2), 0 2px 2px 0 rgba(0,0,30,.14), 0 1px 5px 0 rgba(0,0,30,.12);
.royal-paper-3
    box-shadow: 0 3px 3px -2px rgba(0,0,30,.2), 0 3px 4px 0 rgba(0,0,30,.14), 0 1px 8px 0 rgba(0,0,30,.12);
.royal-paper-4
    box-shadow: 0 2px 4px -1px rgba(0,0,30,.2), 0 4px 5px 0 rgba(0,0,30,.14), 0 1px 10px 0 rgba(0,0,30,.12);
.royal-paper-5
    box-shadow: 0 3px 5px -1px rgba(0,0,30,.2), 0 5px 8px 0 rgba(0,0,30,.14), 0 1px 14px 0 rgba(0,0,30,.12);
//sideOut 通知小红点
.notice-nums .el-badge__content.is-fixed
    top -5px
    right 5px
.notice-nums .el-badge__content
    font-size 9px